<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">age</th>
      <th scope="col">species</th>
      <th scope="col">occupation</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active"  *ngFor="let item of dummy;let index=index; let odd=odd; let even=even;"  [ngClass]="{ odd: table-active, even: table-success }">
      <td>{{item.name}}</td>
      <td>{{item.age}}</td>
      <td>{{item.species}}</td>
      <td>{{item.occupation}}</td>
    </tr>
  </tbody>
</table>


