

        <mat-vertical-stepper #stepper>
            <mat-step label="Setup Esp basic info"  > 

            <!--         Basic esp conf    START    -->
                           
              
                    <div ngbDropdown class="d-inline-block">

                      <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Choose an ESP8266</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <div *ngFor="let esp of EspList">
                            <button ngbDropdownItem (click)="ChangeFocusEsp(esp)">{{esp.name}}</button>           
                          </div>
                        </div>

                      <button type="button" class="btn btn-primary" (click)="CreateNewEsp()">Create New</button>
                    </div>
                <hr class="my-4">                  
                 
                  <form >
                      <div class="row">
                        <div class="col-lg-8">
                          <div class="form-group">    
                            <label class="Label-manage">Name</label>
                            <input  type="text" [(ngModel)]="name" name="name" class="input-manage form-control" placeholder="Enter Name">
                          </div>
                  
                          <div class="form-group">
                              <label  class="Label-manage" for="Description">Description</label>
                              <textarea class="form-control input-manage" id="Description"  [(ngModel)]="description" name="Description" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 114px;" placeholder="Enter a short Description. What this ESP module will do?"></textarea>
                          </div>
                  
                          <div class="form-group">
                            <label  class="Label-manage" for="exampleInputEmail1">Secret</label>
                            <input type="text" class=" input-manage form-control"  [(ngModel)]="secret" name="secret" placeholder="Enter Secret" >
                            <small id="emailHelp" class="form-text text-muted">We'll never share your Secret with anyone else.</small>
                          </div>
                        </div>
                      
                      </div>  
                  </form>
                  <button  matStepperNext  class="btn btn-info">Next</button>
                  
                
<!--         Basic esp conf    END    -->
            </mat-step>
            <mat-step label="Update Firmware" >       
              
<!--         Basic FIRMWARE    START    -->
            
              

    <div ngbDropdown class="d-inline-block">
     
    <mat-form-field>
      <mat-label class="Label-show-inline">Category/Firmware</mat-label>
      <mat-select>
        <mat-optgroup *ngFor="let group of GroupList" [label]="group.group" >
          <mat-option  (click)="SelectGroupName(names.group, names.name)" *ngFor="let names of group.names" [value]="group">               
            {{names.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="ShowDevice">
      <mat-label class="Label-show-inline">Device/Version</mat-label>
      <mat-select >
        <mat-optgroup *ngFor="let group of DeviceList" [label]="group.device" >
          <mat-option  (click)="SelectedFirmware(versions.firmware)" *ngFor="let versions of group.versions" [value]="group">
            {{versions.firmware.version.main}}.{{versions.firmware.version.secondary}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

  
</div>

<mat-divider></mat-divider>

<form >
<div class="row">
<div class="col-lg-8">
  <div class="form-group">    
    <label class="Label-manage">Firmware Name</label>
    <input *ngIf="IsOwner" type="text" [(ngModel)]="firmName" name="name" class="  input-manage form-control" placeholder="Enter Firmware Name">
    <label *ngIf="!IsOwner" class="Label-show">{{firmName}}</label>
  </div>

  <div class="form-group">
      <label class="Label-manage" for="Description">Firmware Description</label>
      <textarea *ngIf="IsOwner" class=" input-manage form-control" id="Description"  [(ngModel)]="firmDescription" name="Description" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 114px;" placeholder="Enter a short Firmware Description/Documentation"></textarea>
      <label *ngIf="!IsOwner" class="Label-show">{{firmDescription}}</label>
    </div>

  <div class="form-group" *ngIf="IsOwner"> 
    <div class="d-inline-block">
      <label class="Label-manage" >Firmware Version</label>
      <input  type="number" min="0" name="ver1"  [(ngModel)]="firmVersionMain" class="version-number  input-manage " >
      <label class="Label-manage">.</label>      
      <input type="number" min="0" name="ver2"  [(ngModel)]="firmVersionSecondary"  class="version-number  input-manage " >
    </div>
  </div>

  <div class="form-group" *ngIf="!IsOwner"> 
    <div class="d-inline-block">
        <label class="Label-manage" >Firmware Version</label>
        <label class="Label-show">{{firmVersionMain}}</label>        
        <label class="Label-show-inline" >.</label>
        <label class="Label-show-inline">{{firmVersionSecondary}}</label>
    </div>
  </div>

  <div class="form-group" > 
  <div class="d-inline-block">

        <div class="d-inline-block">
          <label class="Label-manage" >Category Of Firmware</label>
          <input *ngIf="IsOwner" type="text" [(ngModel)]="firmGroup" name="group" class="  input-manage form-control" placeholder="ex: 'Led Blink'">
          <label *ngIf="!IsOwner" class="Label-show">{{firmGroup}}</label>
        </div>
      

      
          <div class="d-inline-block" style=" padding-left:  20px">
            <label class="Label-manage" >Targeted Device</label>
            <input *ngIf="IsOwner" type="text" [(ngModel)]="firmDevice" name="device" class="  input-manage form-control" placeholder="ex: 'NodeMCU','Esp8266'...">
            <label *ngIf="!IsOwner" class="Label-show">{{firmDevice}}</label>
          </div>
        </div>
  
      </div>

      <div class="d-inline-block" >
        <label class="Label-manage" >Firmware Link</label>         
        <label class="Label-show">{{firmLink}}</label>
      </div>
    


  <div class="form-group" *ngIf="IsOwner">
      <div class="d-inline-block">
          <mat-checkbox class="Label-manage"  name="isPublic"  [(ngModel)]="firmisPublic">Share with others?</mat-checkbox>
      </div>
    </div>

  
    <div *ngIf="IsNewFirmware">
      


     <app-upload-code></app-upload-code>
          
<mat-divider></mat-divider>
     <div class="col-sm-12">
        <h4>Upload Section</h4>
        <div id="fileSelector">
            <input type="file" name="fileUplaod" id="fileUpload"
            ng2FileSelect accept="application/octet-stream" [uploader]="uploader">
        </div>
        <div>
            <div class="row uploadList" *ngFor="let item of uploader.queue">
                <div class="col-sm-4">{{item.file.name}}</div>
                <div class="col-sm-4">
                    <div class="progress">
                        <div class="progress-bar bg-success" 
                        [ngStyle]="{'width':item.progress+'%'}"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                        <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
                        <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
                </div>
            </div>                        
        </div>
        <div class="row" *ngIf="uploader?.queue?.length > 1">
                <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
        </div>
    </div>                

    </div>


 <!-- <input type="submit" class="btn btn-primary" value="{{ isNew == true ? 'Create New Esp8266' : 'Update Esp8266' }}"> -->
</div>

</div>  
</form>
<button  matStepperNext  class="btn btn-info">Next</button>


  

         
<!--         Basic FIRMWARE    END    -->
            </mat-step>
            <mat-step label="Change Button view" >       
                <div class=" jumbotron">
                    <h4>Whitch of those pins would you like to controll?</h4>
                      <div class="form-group">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D0" name="name"  id="customSwitchD0">
                        <label class="custom-control-label" for="customSwitchD0">D0/GPIO16</label>
                      </div>   
                      </div>  
            
                      <div class="form-group">     
                      <div class="custom-control custom-switch">
                          <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D1" name="name"  id="customSwitchD1">
                          <label class="custom-control-label" for="customSwitchD1">D1/GPIO5</label>
                      </div>   
                      </div> 
            
                      <div class="form-group">     
                      <div class="custom-control custom-switch">
                        <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D2" name="name"  id="customSwitchD2">
                        <label class="custom-control-label" for="customSwitchD2">D2/GPIO4</label>
                      </div>   
                      </div>  
            
                      <div class="form-group">      
                      <div class="custom-control custom-switch">
                      <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D3" name="name"  id="customSwitchD3">
                      <label class="custom-control-label" for="customSwitchD3">D3/GPIO0</label>
                      </div>   
                      </div>  
                      <div class="form-group">       
                      <div class="custom-control custom-switch">
                        <input type="checkbox" [ngModelOptions]="{standalone: true}" disabled="" class="custom-control-input" [(ngModel)]="D4" name="name"  id="customSwitchD4">
                        <label class="custom-control-label" for="customSwitchD4">D4/GPIO2</label>
                      </div>   
                      </div>
            
                      <div class="form-group">        
                      <div class="custom-control custom-switch">
                          <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D5" name="name"  id="customSwitchD5">
                          <label class="custom-control-label" for="customSwitchD5">D5/GPIO14</label>
                      </div>   
                      </div>
            
                      <div class="form-group">      
                      <div class="custom-control custom-switch">
                          <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D6" name="name"  id="customSwitchD6">
                          <label class="custom-control-label" for="customSwitchD6">D6/GPIO12</label>
                      </div>   
                      </div>
            
                      <div class="form-group">           
                      <div class="custom-control custom-switch">
                          <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D7" name="name"  id="customSwitchD7">
                          <label class="custom-control-label" for="customSwitchD7">D7/GPIO13</label>
                      </div>   
                      </div>
            
                      <div class="form-group">            
                      <div class="custom-control custom-switch">
                          <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D8" name="name"  id="customSwitchD8">
                          <label class="custom-control-label" for="customSwitchD8">D8/GPIO15</label>
                      </div>   
                      </div>
            
                      <div class="form-group">            
                      <div class="custom-control custom-switch">
                          <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D9" name="name"  id="customSwitchD9">
                          <label class="custom-control-label" for="customSwitchD9">D9/GPIO3</label>
                      </div>   
                      </div> 
            
                      <div class="form-group">           
                      <div class="custom-control custom-switch">
                          <input type="checkbox" [ngModelOptions]="{standalone: true}" disabled="true" class="custom-control-input" [(ngModel)]="D10" name="name"  id="customSwitchD10">
                          <label class="custom-control-label" for="customSwitchD10">D10/GPIO1</label>
                      </div>   
                      </div>
            
                      <div class="form-group">           
                      <div class="custom-control custom-switch">
                          <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="A0" name="name"  id="customSwitchA0">
                          <label class="custom-control-label" for="customSwitchA0">A0/GPIO17</label>
                      </div>  
                    
                    </div>
                  
                
                      <button mat-button matStepperPrevious  class="btn btn-secondary">Back</button >         
                        <button mat-button matStepperNext  class="btn btn-primary">Next</button>
                    </div>
               
            
            </mat-step>
            <mat-step label="Choose your view" > 
              <ng-template matStepLabel>Done</ng-template>
             
                <button  class="btn btn-secondary" matStepperPrevious>Back</button>
                <button class="btn btn-success" mat-button >Save</button>
            
            </mat-step>
          </mat-vertical-stepper>
        