mat-slider {
  width: 100%;
  
}
mat-card {      
  width: 95%;
  height: 95%;
}
mat-grid-tile{
    border: 1px;
}
button {      
  width: 95%;
  height: 95%;
}

.col-centered{
  float: none;
  margin: 0 auto;
  min-width: 270px;
  height: 95%;
}

#fullsize{
  width: 100%;
  height: 100%;
}

.fullsizeAll{
  width: 100%; 
  height: 100%;
}

#iotMain{
  float: none;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}


