
<div id="iotMain" class="row itemsBlock" >

  <div class="col-md-2 col-sm-3 col-12- col-centered " *ngFor="let esp of EspList"  >
    <div class="card bg-light col-centered mb-3" style="max-width: 20rem;" 
      *ngIf=" esp.pins.D0.InUse || 
              esp.pins.D1.InUse ||
              esp.pins.D2.InUse ||
              esp.pins.D3.InUse ||
              esp.pins.D4.InUse ||
              esp.pins.D5.InUse ||
              esp.pins.D6.InUse ||
              esp.pins.D7.InUse ||
              esp.pins.D8.InUse ||
              esp.pins.D10.InUse ||
              esp.pins.A0.InUse ">
               
      <div class="card-header">
        
          <h4 style="text-align:center;" >{{esp.name}}</h4>
          <span  style="float:right;" *ngIf="this.isOnlineNow(esp.isOnline)" class="badge  badge-pill badge-success">online</span>
          <span style="float:right;" *ngIf="!this.isOnlineNow(esp.isOnline)" class="badge  badge-pill badge-danger">offline</span>
       
      </div>
      <div class="card-body">
          <h4 class="card-title">{{esp.Description}}</h4>
        <ul class="list-group">
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-light" *ngIf="esp.pins.D0.InUse">
                <button   type="button" *ngIf="esp.pins.D0.InUse && !esp.pins.D0.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D0', value:true, espItem: esp})" >OPEN D0</button>
                <button   type="button" *ngIf="esp.pins.D0.InUse && esp.pins.D0.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D0', value:false, espItem: esp})" >CLOSE D0</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.D1.InUse">
                <button   type="button" *ngIf="esp.pins.D1.InUse && !esp.pins.D1.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D1', value:true, espItem: esp})" >OPEN D1</button>
                <button   type="button" *ngIf="esp.pins.D1.InUse && esp.pins.D1.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D1', value:false, espItem: esp})" >CLOSE D1</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.D2.InUse"> 
                <button   type="button" *ngIf="esp.pins.D2.InUse && !esp.pins.D2.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D2', value:true, espItem: esp})" >OPEN D2</button>
                <button   type="button" *ngIf="esp.pins.D2.InUse && esp.pins.D2.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D2', value:false, espItem: esp})" >CLOSE D2</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.D3.InUse">
                <button   type="button" *ngIf="esp.pins.D3.InUse && !esp.pins.D3.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D3', value:true, espItem: esp})" >OPEN D3</button>
                <button   type="button" *ngIf="esp.pins.D3.InUse && esp.pins.D3.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D3', value:false, espItem: esp})" >CLOSE D3</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.D4.InUse">
                <button   type="button" *ngIf="esp.pins.D4.InUse && !esp.pins.D4.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D4', value:true, espItem: esp})" >OPEN D4</button>
                <button   type="button" *ngIf="esp.pins.D4.InUse && esp.pins.D4.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D4', value:false, espItem: esp})" >CLOSE D4</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.D5.InUse">
                <button   type="button" *ngIf="esp.pins.D5.InUse && !esp.pins.D5.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D5', value:true, espItem: esp})" >OPEN D5</button>
                <button   type="button" *ngIf="esp.pins.D5.InUse && esp.pins.D5.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D5', value:false, espItem: esp})" >CLOSE D5</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.D6.InUse">
                <button   type="button" *ngIf="esp.pins.D6.InUse && !esp.pins.D6.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D6', value:true, espItem: esp})" >OPEN D6</button>
                <button   type="button" *ngIf="esp.pins.D6.InUse && esp.pins.D6.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D6', value:false, espItem: esp})" >CLOSE D6</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.D7.InUse">
                <button   type="button" *ngIf="esp.pins.D7.InUse && !esp.pins.D7.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D7', value:true, espItem: esp})" >OPEN D7</button>
                <button   type="button" *ngIf="esp.pins.D7.InUse && esp.pins.D7.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D7', value:false, espItem: esp})" >CLOSE D7</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.D8.InUse">
                <button   type="button" *ngIf="esp.pins.D8.InUse && !esp.pins.D8.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D8', value:true, espItem: esp})" >OPEN D8</button>
                <button   type="button" *ngIf="esp.pins.D8.InUse && esp.pins.D8.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D8', value:false, espItem: esp})" >CLOSE D8</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.D9.InUse">
                <button   type="button" *ngIf="esp.pins.D9.InUse && !esp.pins.D9.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D9', value:true, espItem: esp})" >OPEN D9</button>
                <button   type="button" *ngIf="esp.pins.D9.InUse && esp.pins.D9.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D9', value:false, espItem: esp})" >CLOSE D9</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.D10.InUse">
                <button   type="button" *ngIf="esp.pins.D10.InUse && !esp.pins.D10.IsHight" class="btn btn-success" (click)="eventOnClick({key:'D10', value:true, espItem: esp})" >OPEN D10</button>
                <button   type="button" *ngIf="esp.pins.D10.InUse && esp.pins.D10.IsHight" class="btn btn-danger"  (click)="eventOnClick({key:'D10', value:false, espItem: esp})" >CLOSE D10</button>
              </li>
              <li class="list-group-item bg-light" *ngIf="esp.pins.A0.InUse">             
                
                <mat-slider *ngIf="esp.pins.A0.InUse" [value]="esp.pins.A0.value" (change)="eventOnChange({key:'A0',value:$event, espItem: esp})" id="sliderA0" thumbLabel  [displayWith]="formatLabel" tickInterval="auto " min="0" max="1023" >></mat-slider>             
              </li>
          </ul>
         
        </ul>
      </div>
    </div>
  </div>
</div>
