
<div class="jumbotron">
  <h3 >Lets set up your devices!</h3>
  
  <p class="lead">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Choose an ESP8266</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let esp of EspList">
                <button ngbDropdownItem (click)="ChangeFocusEsp(esp)">{{esp.name}}</button>           
            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)="CreateNewEsp()">Create New</button>
      </div>
    </div>
</div>
<hr class="my-4">




<form (submit)="onESPSubmit()">
    <div class="row">
      <div class="col-lg-8">
        <div class="form-group">    
          <label>Name</label>
          <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Enter Name">
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control" id="Description"  [(ngModel)]="description" name="Description" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 114px;" placeholder="Enter a short Description. What this ESP module will do?"></textarea>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Secret</label>
          <input type="text" class="form-control"  [(ngModel)]="secret" name="secret" placeholder="Enter Secret" >
          <small id="emailHelp" class="form-text text-muted">We'll never share your Secret with anyone else.</small>
        </div>

      
        <input type="submit" class="btn btn-primary" value="{{ isNew == true ? 'Create New Esp8266' : 'Update Esp8266' }}">
      </div>
      <div class="col-lg-4" >
        <h4>Whitch of those pins would you like to controll?</h4>
          <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D0" name="name"  id="customSwitchD0">
            <label class="custom-control-label" for="customSwitchD0">D0/GPIO16</label>
          </div>   
          </div>  

          <div class="form-group">     
          <div class="custom-control custom-switch">
              <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D1" name="name"  id="customSwitchD1">
              <label class="custom-control-label" for="customSwitchD1">D1/GPIO5</label>
          </div>   
          </div> 

          <div class="form-group">     
          <div class="custom-control custom-switch">
            <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D2" name="name"  id="customSwitchD2">
            <label class="custom-control-label" for="customSwitchD2">D2/GPIO4</label>
          </div>   
          </div>  

          <div class="form-group">      
          <div class="custom-control custom-switch">
          <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D3" name="name"  id="customSwitchD3">
          <label class="custom-control-label" for="customSwitchD3">D3/GPIO0</label>
          </div>   
          </div>  
          <div class="form-group">       
          <div class="custom-control custom-switch">
            <input type="checkbox" [ngModelOptions]="{standalone: true}" disabled="" class="custom-control-input" [(ngModel)]="D4" name="name"  id="customSwitchD4">
            <label class="custom-control-label" for="customSwitchD4">D4/GPIO2</label>
          </div>   
          </div>

          <div class="form-group">        
          <div class="custom-control custom-switch">
              <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D5" name="name"  id="customSwitchD5">
              <label class="custom-control-label" for="customSwitchD5">D5/GPIO14</label>
          </div>   
          </div>

          <div class="form-group">      
          <div class="custom-control custom-switch">
              <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D6" name="name"  id="customSwitchD6">
              <label class="custom-control-label" for="customSwitchD6">D6/GPIO12</label>
          </div>   
          </div>

          <div class="form-group">           
          <div class="custom-control custom-switch">
              <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D7" name="name"  id="customSwitchD7">
              <label class="custom-control-label" for="customSwitchD7">D7/GPIO13</label>
          </div>   
          </div>

          <div class="form-group">            
          <div class="custom-control custom-switch">
              <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D8" name="name"  id="customSwitchD8">
              <label class="custom-control-label" for="customSwitchD8">D8/GPIO15</label>
          </div>   
          </div>

          <div class="form-group">            
          <div class="custom-control custom-switch">
              <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="D9" name="name"  id="customSwitchD9">
              <label class="custom-control-label" for="customSwitchD9">D9/GPIO3</label>
          </div>   
          </div> 

          <div class="form-group">           
          <div class="custom-control custom-switch">
              <input type="checkbox" [ngModelOptions]="{standalone: true}" disabled="true" class="custom-control-input" [(ngModel)]="D10" name="name"  id="customSwitchD10">
              <label class="custom-control-label" for="customSwitchD10">D10/GPIO1</label>
          </div>   
          </div>

          <div class="form-group">           
          <div class="custom-control custom-switch">
              <input type="checkbox" [ngModelOptions]="{standalone: true}"  class="custom-control-input" [(ngModel)]="A0" name="name"  id="customSwitchA0">
              <label class="custom-control-label" for="customSwitchA0">A0/GPIO17</label>
          </div>  
        
        </div>
      </div>
    </div>  
</form>
