
<div class="jumbotron text-center">
  <h1>Welcome</h1>
  
  <p class="lead">Home automation Alex 0.1  </p>
  <div *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <button  type="button" class="btn btn-outline-primary" [routerLink]="['/register']">Εγγραφη</button> 
      <button type="button" class="btn btn-outline-info" [routerLink]="['/login']">Συνδεση</button> 
  </div>
  <div *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <button  type="button" class="btn btn-outline-primary" [routerLink]="['/dashboard']">Ας ξεκινήσουμε</button> 
  </div>
</div>

